*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 1px;
  overflow-x: hidden;
  min-height: 200vh;
  scroll-behavior: smooth;
  font-family: 'JetBrains', monospace;
}

#_progress {
  --scroll: 0%;
  background: linear-gradient(to right, white var(--scroll), transparent 0);
  position: fixed;
  width: 100%;
  height: 5px;
  top: 90px;
  z-index: 100;
}

.header {
  background-color: rgb(255, 68, 0);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 200;
  transition: all 0.5s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  margin: 53px auto;
  padding-top: 3rem;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.486);
  font-size: 16px;
  font-weight: 600;
}

.nav-link.active,
.nav-link:hover {
  color: white;
  transition: 0.5s;
}

.navbar {
  width: 100%;
  font-weight: bold;
}

#checkbtn {
  visibility: hidden;
}

.logo {
  font-size: 30px;
  margin-left: 3rem;
  line-height: 90px;
  font-family: 'Satisfy', monospace;
  color: azure;
  letter-spacing: 3px;
}

#bars {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 20px;
  margin: 15px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
}

.dp {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  backdrop-filter: blur(20px);
  margin: auto;
}

.dp-holder {
  text-align: center;
}

.home {
  width: 100%;
}

.intro-message,
.job-title {
  transition: all 2.5s ease-in 0s;
}

.typewriter {
  display: flex;
}

.typewriter span {
  margin-top: 7px;
  font-size: 30px;
}

.intro,
.intro_img {
  width: 21rem;
  margin: 0.5% auto;
}

.about {
  width: 100%;
  margin: 5rem auto;
  padding: 1.2rem;
  transition: all 2.5s ease 0s;
}

.heading {
  padding-left: 8%;
  text-align: left;
}

.about-heading {
  font-size: 30px;
  margin: 0;
}

.underline {
  display: block;
  width: 100px;
  height: 3px;
  background-color: orangered;
}

.info {
  width: 100%;
  max-width: 700px;
}

.fa-css3,
.fa-react,
.fa-js-square,
.fa-bootstrap,
.fa-html5,
.fa-sass,
.fa-git,
.fa-python,
.fa-php,
.fa-mug-hot,
.fa-facebook-f,
.fa-envelope,
.fa-twitter,
.fa-github {
  color: orangered;
}

.fa-facebook-f,
.fa-envelope,
.fa-twitter,
.fa-github {
  font-size: 30px;
  margin-left: 20px;
}

.project-links {
  color: orangered;
}

::-webkit-scrollbar {
  background-color: orange;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
}

.email {
  text-align: left;
  width: 100%;
}

.footer {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .nav_items {
    position: absolute;
    width: 45%;
    height: 100vh;
    background: orangered;
    top: 71px;
    left: -100%;
    text-align: left;
    transition: all 0.6s ease-out;
    padding-top: 2rem;
    z-index: 1;
  }

  .nav-list {
    display: block;
    line-height: 20px;
    margin: 1rem auto;
  }

  .nav-link {
    margin: 10px;
  }

  .nav-link:hover,
  .nav-link:active {
    background: none;
  }

  .logo {
    margin-left: 11%;
  }

  #checkbtn:checked ~ #nav_items {
    left: 0;
  }
}

@media (min-width: 769px) {
  .nav_items {
    float: right;
    margin-right: 3rem;
  }

  #bars {
    visibility: hidden;
  }

  .nav-list {
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
    font-size: 40px;
    position: relative;
  }

  .nav-list.active::before,
  .nav-list::before {
    position: absolute;
    content: '';
    background-color: azure;
    width: 3px;
    height: 45px;
    top: -37%;
    left: 53%;
    transform: translate(-50%);
    transform-origin: top;
    transform: scale(1, 0);
    transition: transform 0.3s ease 0s;
  }

  .nav-list.active:hover::before,
  .nav-list:hover::before {
    transform: scale(1, 1);
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }

  #checkbtn {
    width: 0;
  }

  .home {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .intro,
  .intro_img {
    width: 40rem;
    padding: 1.1rem;
  }

  .intro {
    margin-top: 1rem;
  }

  .typewriter span {
    margin-top: 17px;
  }

  .about {
    padding: 1.1rem;
  }

  .heading {
    padding-left: 3%;
  }

  #_progress {
    top: 95px;
  }
}
